body {
  background-image: linear-gradient(.75turn, #c3e6ef, 50%, #5ecabe);
}
 .hero {
  display: flex;
  justify-content: center;
 }

 .sub-hero {
  display: flex;
  justify-content: center;

  /* makes breathing space between the tagline and the phrase */
  margin-top: 5rem;
 }
 
 h1 {
  line-height: 3;
 }

 header {
  background-image: url(../imgs/img.png);
  
  /* stops the image to repeat itself */
  background-repeat: no-repeat;

  /* centers the image */
  background-position: center;

  height: 85vh;
  opacity: 0.9;
 }
