* {
  overflow-x: hidden;
  margin: 1rem;
}

body {
  background-image: linear-gradient(0.75turn, #c3e6ef, 50%, #5ecabe);
}

header {
  background-image: url(../imgs/img.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* stops the image to repeat itself */
  background-repeat: no-repeat;

  /* centers the image */
  background-position: center;

  padding: 1rem;
  height: 85vh;
  width: 100vw;
  opacity: 0.9;
}

.hero {
  display: flex;
  justify-content: center;
  line-height: 3;
}

.card {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15rem;
}

.button {
  background-color: #5ecabe;
  border: none;
  border-radius: 5px;
  color: black;
  text-align: center;
  text-decoration: none;
  opacity: 0.8;
  padding: 15px 32px;

  margin-inline: 8rem;
}

.button:hover {
  background-color: #04aa6d;
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  height: 12vh;
  border-style: double;
  border-width: 10px;
  margin: 2.5rem;
}
.tagline {
  text-align: center;
  line-height: 1.9;

  margin: 1rem;
}
